.fab {
    width: 200px;
    height: 55px;
    border-radius: 5px;
    position: fixed;
    right: 30px;
    z-index:2;
    text-align:center;
}

.fab1 {
    bottom: 60px;
    text-transform: uppercase;
}

.fab2 {
    bottom: 25px;
    height: 35px;
    pointer-events: none;
    display: block;
}